body {
	margin: auto;
	background-color: #eaeaea;
	font-family: 'patrick hand';
	}

.landing{
	text-align: center;
	width: 100%; 
	background-color: white; 
	padding-top: 30px; 
	padding-bottom: 30px;
}
	
.landing i {
	display: block;
	margin: auto;
	width: 45px;
}

.material-icons.md-48 { 
	font-size: 48px; }

.bulletheader {
	font-size: 45px;
	font-family: 'patrick hand';
	text-align: center;
	font-weight: bold;
	padding: 0px 0 50px 0;}

hr {
	margin-bottom: 3em;
	width: 15%;
	border-color: #C5B358;}
	
input[type=submit] {
	background-color: #C5B358;
	border: none;
	color: white;
	width: 4em;
	text-decoration: none;
	margin: 4px 2px;
	cursor: crosshair;
	border-radius: 25px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	height: 2.5em;

}

input[type="text"] {
	border-radius: 25px;
	font-family: 'permanent marker';
	text-align: center;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-family: cabin;
}

.guestbookRoom {
	padding-top: 5rem;
}

table {
	background: #fff;
	width: 75%;
	text-align: center;
	margin: auto;
	border:1px solid #C5B358;
	padding: 1rem;
}

th {
	text-align: center;
	padding: 15;
}

td {
	padding: 5 15 5 15;
}

.buttonFooter {
	position: relative;
	display: block;
	border-radius: 10;
}

#buttonFooter a {
	position: absolute;
	left: 45%;
	font-family: 'permanent marker';
}
#buttonFooter a:link, a:visited {
  background-color: #C5B358;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 10%;
  border-radius: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.8s;
}

#buttonFooter a:hover, a:active {
	background-color: black;
	color: #C5B358;
	cursor: crosshair;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


