<!--
boby
{
	margin: 00;
	padding: 0;
	font-family: sans-serif;
	background: url(ElijahPhoto3.jgp);
	background-size: cover;
}
.container
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: tanslate(-50%, -50%);
	width: 600px;
	padding: 30px;
	background: #fff;
	box-siziing: border-box;
	border-radius: 10px;
	box-shadow: 0 15px 50px rgba(0,0,0,.2);
}-->
<!--
.circle
{
	width: 200px;
	height: 200px;
	background: url(ElijahPhoto3.igp)
	border-radius: 50%;
	float: left;
	shape-outside: circle();
	margin: 60px 30px 30px 0;
}
p
{
	margin: 0;
	padding: 0;
	<!--text-align: justify;
	line-height: 22px;
	font-size: 15px;
}
<!--https://youtu.be/Gws3C4Phs2k-->